@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root {
  --blue: #b2d9ee;
  --white: rgba(255, 255, 255, 0.859);
  --grey: #888484f6;
}
body {
  overflow: hidden;
  /* margin :0; */
  display: flex;
  flex-direction: column;
  padding: 0;
}
.main {
  height: 98vh;
  width: 80%;
  margin: auto;
  
  background-color:#ffffff;
  display: flex;
}
.right{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 98vh;
}
.left {
  width: 30%;
  background-color: var(--blue);
  border-radius: 0 0.8rem 0 0;
  padding: 0.9rem;
  height: 98vh;
}

input {
    padding: 10px 10px 10px 10%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(25, 159, 231, 0.20);
  }
  
  .recherche {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
  }
  input:not(:focus){
    outline: none;
  }
  
  .recherche input:focus {
    outline: none;
    border: 2px dashed var(--secondary-color);
  }
  
  .icon {
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    color: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
  }